
/* ------ GSAP TESTS -------- */
/* Styles gsap test blocks on Home page */
.my-element {
	font-size: 2rem;
	margin: 0;
	background: lightseagreen;
	display: inline-block;
}

.my-element-2 {
	background: blue;
	margin: 0;
	width: 25%;
}